body{
    margin: 0 0 0 0 ;
    position: fixed;
    width: 100%;
    background: #000;
}
.app{
    background: #111;
    width: 100%;
}
.chat-container{
    position: fixed;
    left: 50%;
    translate: -50%;
    height: 90vh;
    width: 98%;
    display:block;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: transparent;
    flex-wrap: wrap;
}
.msg-container{
    margin-top: 10px;
    margin-bottom:10px;
    text-align: left;
    display:flex;
    max-width: 100vw;
}
.message{
    border:none;
    border-radius:25px;
    color: #fff;
    background: linear-gradient(45deg,#3435,#3f29);
    font-family:monospace;
    font-size: 13px;
    padding:15px 20px; 
    width:max-content;
    margin-bottom:10px;
    max-width:50vw ;
    text-wrap:inherit;
    animation:hue 34s infinite linear;
    /* box-shadow: 0 0 10px green; */
    /* border: #0a0 solid 1px; */
}

@keyframes hue {
    from{
        filter:hue-rotate(0deg);
    }
    to{
        filter:hue-rotate(360deg);
    }
}
.codesnip{
    /* background:#0c0c0c; */
    padding:10px;
    border-radius:14px;
    color:#0f0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    box-shadow: 0 0 10px green;
    border: #0a0 solid 1px;
}

form{
    position: fixed;
    width: 98vw;
    bottom: 1.6vh;
    left: 50%;
    translate:-50%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    gap:1vw;
}

.txt-box{
    height:15px;
    width: 90vw;
    scrollbar-width:none;
    resize: vertical;
    padding: 15px;
    background-color: #000;
    border:#666 1px solid ;
    border-radius: 10px;
    color:#fff;
    text-emphasis-color: #fff;
    margin: 0 0 0 0;
    resize: none;
    font-family: monospace;
}

.send-btn{
    height: max-content;
    width:max-content;
    padding:15px;
    font-family: monospace;
    background: #111;
    color:#aaa;
    border-radius: 10px;
    border: #aaa solid 1px;
    margin: 0 0 0 0;
}
.send-btn:hover{
    color: #FFF;
    border:#FFF solid 1px;
}

.code-chk{
    position: fixed;
    background-color:transparent;
    padding: 10px;
    color: #0a0;
    bottom: 0px;
}
