body{
    background-color: #000;
    margin: 0 0 0 0 ;
    position: fixed;
    width: 100%;
}
.app{
    width: 100%;
    /* background-color: #f00; */
}
h1{
    color: #0f0;
    font-family: 'Times New Roman', Times, serif;
}
.info{
    position: fixed;
    background-color: black;
    color:#0f0;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    box-shadow: #0a0 0 0 10px;
    z-index: 2;
}
.info:hover{
    animation: openup 2s forwards;
}
@keyframes openup {
    from{
        height: 30px;
        width: 30px;
    }
    to{
        height: 97vh;
        width: 98%;
    }
}
.chat-container{
    position: fixed;
    left: 50%;
    translate: -50%;
    height: 77vh;
    width: 99%;
    display: block;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #000;
    flex-wrap: wrap;
}
.msg-container{
    margin-bottom:10px;
    /* text-align: right; */
}
.message{
    background:linear-gradient(15deg,#0b0 ,#464 ),  no-repeat;
    background-size: 300%;
    border-radius:20px;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding:12px 25px; 
    width:auto;
    margin-bottom:10px;
    text-wrap:inherit;
    /* box-shadow: 0 0 10px green; */
    /* border: #0a0 solid 1px; */
    animation: grad 01s infinite alternate ease;
}
@keyframes grad {
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
    
}
.codesnip{
    /* background:#0c0c0c; */
    padding:10px;
    border-radius:14px;
    color:#0f0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    box-shadow: 0 0 10px green;
    border: #0a0 solid 1px;
}
form{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.txt-box{
    flex: 1;
    height: 30px;
    width: 80%;
    resize: vertical;
    padding: 8px;
    background-color: #000;
    border: #0a0 solid;
    border-radius: 30px;
    color:#0a0;
}
.send-btn{
    bottom: 10px;
    height: 40px;
    padding:0 15px;
    text-align: center;
    background-color: #0f0;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: #0b0 0 0 10px;
}
.code-chk{
    position: fixed;
    background-color:transparent;
    padding: 10px;
    color: #0a0;
    bottom: 0px;
}
